.button {
    -fx-background-image: url("/images/services-32.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button:selected {
    -fx-background-image: url("/images/services-32.png");
}